@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<form>
    <div class="text-center">
        <h2>S-Squared Enterprises</h2>
        <h2>Personnel System</h2>
        <p>
            Welcome to S-Squared Enterprises Personnel System.  
        </p>
    </div>
</form>